<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>

<body>
    <div class="container">
        <h1>COVID-19 Tracker</h1>
        <p>This application tracks the number of confirmed cases of COVID-19 around the globe</p>
        <div class="jumbotron">
            <h1 class="display-4" th:text="${totalReportedCases}"></h1>
            <p class="lead">Total number of cases as of today</p>
            <hr class="my-4">
            <p><span>New cases reported since previous day: </span><span th:text="${totalNewCases}"></span></p>
        </div>
        <table class="table">
            <tr>
                <th>State</th>
                <th>Country</th>
                <th>Number of Confirmed Cases</th>
                <th>Changes since the last day</th>
            </tr>
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.state}">NONE</td>
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.latestConfirmedCases}">0</td>
                <td th:text="${locationStat.diffFromPrevDay}"></td>
            </tr>
        </table>
    </div>
</body>

</html>