<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 Tracker</title>
    <meta charset="UTF-8">
    <meta name="description" content="Web application tracking latest cases of corona virus across the Planet">
    <meta name="keywords" content="corona, corona virus, virus, covid, covid-19">
    <meta name="author" content="Stanisław Łapiński">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <a class="navbar-brand" href="/home">
                <img src="https://raw.githubusercontent.com/stanley-lapinski/COVID-19-Tracker/master/src/main/resources/static/img/big-logo-white.png" width="155" height="68" class="d-inline-block align-middle mr-5" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="font-size: 19px">
                    <li class="nav-item active mr-2">
                        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/cases">Confirmed Cases<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="/deaths">Confirmed Deaths<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="/recoveries">Confirmed Recoveries<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">
                            <button type="button" class="btn btn-info" style="font-size: 19px">WHO Latest Updates</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-12">
                    <div id="home-slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#home-slider" data-slide-to="1"></li>
                            <li data-target="#home-slider" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://www.aljazeera.com/news/2020/03/coronavirus-sporting-events-affected-outbreak-200310084205890.html" target="_blank">
                                    <img src="https://raw.githubusercontent.com/stanley-lapinski/COVID-19-Tracker/master/src/main/resources/static/img/slider-jazeera.png" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block text-light bg-dark">
                                    <h5>Aljazeera: What sporting events are affected by the pandemic?</h5>
                                    <p>As the virus spreads across the globe, sports bodies are cancelling or postponing events.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="https://edition.cnn.com/2020/03/25/health/immunity-diet-food-coronavirus-drayer-wellness/index.html" target="_blank">
                                    <img src="https://raw.githubusercontent.com/stanley-lapinski/COVID-19-Tracker/master/src/main/resources/static/img/slider-cnn-one.jpg" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block text-light bg-dark">
                                    <h5>CNN: How to strengthen your immunity during the coronavirus pandemic</h5>
                                    <p>As the coronavirus situation intensifies, you might be wondering: how can I keep myself healthy?</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a href="https://www.bbc.com/news/explainers-51632801" target="_blank">
                                    <img src="https://raw.githubusercontent.com/stanley-lapinski/COVID-19-Tracker/master/src/main/resources/static/img/slider-bbc.jpg" class="d-block w-100" alt="...">
                                </a>
                                <div class="carousel-caption d-none d-md-block text-light bg-dark">
                                    <h5>BBC: What next in the UK coronavirus fight?</h5>
                                    <p>Coronavirus is spreading in the UK and the government is seeking ways to minimise its spread.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#home-slider" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#home-slider" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>